<section>
    <header>
      <div id="logo">
        <img src="../assets/img/logo.png" alt="">
      </div>
      <nav id="top-menu">
        <ul>
          <li><a href="contact.html"></a>Contact</li>
          <li><a href="about.html"></a>About</li>
          <li><a href="index.html">Index</a></li>
        </ul>
      </nav>
    </header>
    <section id="content">
      <article>
        <h2>Introduction</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Suscipit cum fugit amet earum magni voluptatum iure officiis nihil aliquid labore ducimus,
           blanditiis rerum laboriosam veniam! Id quis debitis ipsam rerum.
           Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Suscipit cum fugit amet earum magni voluptatum iure officiis nihil aliquid labore ducimus,
          </p>
      </article>
      <div class="img-holder">
        <img src="../assets/img/food.jpg" alt="food" width="771" height="334">
      </div>
      <div style="clear:both"></div>
    </section>
    <section id="big-buttons">
      <div class="products holder">
          <img src="../assets/img/product.png" alt="products" width="54" height="72">
        <h3>products</h3>
      </div>
      <div class="contacts holder">
          <img src="../assets/img/contact.png" alt="products" width="63" height="77">
          <h3>contacts</h3>
      </div>
      <div class="services holder">
          <img src="../assets/img/service.png" alt="products" width="63" height="77">
          <h3>services</h3>
      </div>
    </section>
  
    <footer>
      <div class="green-footer">
       <div class="address">
         <h4>Address</h4>
       </div>
       <div class="social-media">
         <h4>social-media</h4>
       </div>
       <div class="loc-map">
         <h4>location</h4>
       </div>
      </div>
      <div id="bottom-bar">
        <p>CopyRight@2019</p>
      </div>
    </footer>
</section>
